<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="babySitterMapper">
	<select id="getsuppotListCount" resultType = "_int">
		select count(*)
		from suppot_list
		where btype = 4 and status = 'Y'
	</select>
	<select id = "selectSuppotList" resultType = "sitterSuppot">
		select *
		from suppot_list
		where btype = 4 and status = 'Y'
	</select>
	
	
	
	
	
</mapper>
