<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="babySitterMapper">
	<select id="getsuppotListCount" resultType = "_int">
		select count(*)
		from suppot_list
		where bType = 4 and status = 'Y'
	</select>
	<select id = "selectSuppotList" resultType = "sitterSuppot">
		select *
		from suppot_list
		where btype = 4 and status = 'Y'
	</select>

	<select id="getMomListCount" resultType ="_int">
		select count(*)
		from suppotMom_List
		where btype = 3 and status = 'Y'
	</select>
	<select id="selectMomlist" resultType="Momboard">
		select * from suppotMom_list
		where btype = 3 and status='Y'
	</select>
	<insert id="insertMomBoard">
	insert into board
	values(seq_bno.nextval, #{bType}, #{bTitle}, #{bContent}, sysdate, default, default, sysdate, #{bWriter})
	</insert>
	<insert id="insertMomAttachment" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 3, sysdate, 'Y')
	</insert>
	
	<insert id="insertBcMojib" parameterType="BabySitter">
		insert into BC_MOJIB
		values(seq_bno.currval, #{bcActivity}, #{req}, #{bcSalary}, #{bcTime}, #{address}, #{personnel}, #{bAge}, #{bGender})
	</insert>
	
	<select id="selectDetail" parameterType="board" resultType="Momboard">
		select *
		from suppotMom_list
		where bNo=#{bNo} and status='Y'
	</select>
	
	<select id="momboardUpdateForm" resultType="Momboard">
		select*
		from suppotMom_list
		where bNo=#{bNo} and status='Y'	
	</select>
	
	<update id="upDateMomBoard" parameterType="board">
	update board
	set bTitle = #{bTitle}, bContent = #{bContent}, b_modifydate = sysdate
	</update>
	<update id="upDateMomAttachment" parameterType="Attachment">
		update board_picture
		set originname = #{originName}, changename = #{changeName}, upload_date = sysdate
		where bNo = #{bNo}
	</update>
	<update id="upDateBcMojib" parameterType="BabySitter">
		update bc_Mojib
		set bcActivity = #{bcActivity}, req= #{req}, bcsalary = #{bcSalary}, bcTime= #{bcTime}, address=#{address}, personnel=#{personnel}, bAge=#{bAge}, bgender=#{bGender}
		where bNo = #{bNo}
	</update>
	
	<update id="addMomReadCount">
		update board
		set bcount = bcount + 1
		where bno = #{bNo}
	</update>
	<select id="selectMomReplyList" parameterType="_int" resultType="Reply">
		select *
		from reply
		where bno = #{bNo}
		order by rnum desc
	</select>
	
	<insert id="insertMomReply" parameterType="Reply">
		insert into reply
		values(seq_rnum.nextval, #{nContent}, sysdate, default, #{rWriter}, #{bNo})
	</insert>
	
	

	<insert id="insertSuppotBoard">
		insert into board
		values(seq_bno.nextval, 4, #{bTitle}, #{bContent}, sysdate, default, default, sysdate, #{bWriter})
	</insert>
	<insert id="insertSuppotAttachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 0, sysdate, default)
	</insert>
	<insert id = "insertSuppot">
		insert into bc_suppot
		values(seq_bno.currval, #{bcCarrer}, #{bcSalary}, <!-- #{bcTime} -->'time', #{address}, #{bcactivity})
	</insert>
	
 	<update id="updateSuppotBoard">
		update board
		set bTitle = #{bTitle}, bContent = #{bContent}, b_modifydate = sysdate
		where bNo = #{bNo}
	</update>
	<update id="updateAttachment">
		update board_picture
		set originname = #{originName}, changename = #{changeName}, upload_date = sysdate
		where bNo = #{bNo}
	</update>
	<update id="updateSuppot">
		update bc_suppot
		set bccarrer = #{bcCarrer}, salary = #{bcSalary}, address = #{address}
		where bNo = #{bNo}
	</update>
	
	<select id="selectSuppotBoard" resultType = "sitterSuppot">
		select * 
		from suppot_list
		where bno = #{bNo} and status = 'Y'
	</select>
	
	<update id="addReadCount">
		update board
		set bcount = bcount + 1
		where bno = #{bNo}
	</update>
	
	<select id="selectSuppotReplyList" parameterType="_int" resultType="Reply">
		select *
		from reply
		where bno = #{bNo}
		order by rnum desc
	</select>
	
	<insert id="insertSuppotReply" parameterType="Reply">
		insert into reply
		values(seq_rnum.nextval, #{nContent}, sysdate, default, #{rWriter}, #{bNo})
	</insert>

</mapper>
