<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">


	<!-- 관리자 신고 승인 -->

	<update id="mDeBApply" parameterType="_int">
		update board
		set status = 'N'
		where bNo = #{ bNo }
	</update>


	<select id="getListNanumCount" resultType="_int">
		select count(*)
		from board
		where status = 'Y' and btype=2
	</select>
	
	<resultMap type="PictureBoard" id="PictureBoardResultSet">
		<id property="bNo" column="BNO"/>
		<result property="bType" column="BTYPE"/>
		<result property="bTitle" column="BTITLE"/>
		<result property="bContent" column="BCONTENT"/>
		<result property="b_CreateDate" column="B_CREATEDATE"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="status" column="STATUS"/>
		<result property="b_ModifyDate" column="B_MODIFYDATE"/>
		<result property="bWriter" column="NICKNAME"/>
		<result property="iNo" column="INO"/>
		<result property="originName" column="ORIGINNAME"/>
		<result property="changeName" column="CHANGENAME"/>
		<result property="iType" column="ITYPE"/>
		<result property="upload_Date" column="UPLOAD_DATE"/>
	</resultMap>
	<select id="selectNanumList" resultMap="PictureBoardResultSet">
		select *
		from board b
		    join board_picture a on(b.bno = a.bno)
		    join member m on(b.bwriter = m.userid)
		where b.status = 'Y' and btype=2 and itype=0
		order by b.bno desc
	</select>
<!-- listview 에서 detail 뷰로 넘길때 쿼리문 보드픽쳐 이미지 추가 -->
	<insert id="insertNanumBoard" parameterType="Board">
		insert into board
		values(seq_bno.nextval, #{bType}, #{bTitle}, #{bContent}, sysdate, 0, 'Y', sysdate, #{bWriter})
	</insert>
	
	<insert id="insertNanumAttachment0" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 0, sysdate, 'Y')
	</insert>
	<insert id="insertNanumAttachment" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 1, sysdate, 'Y')
	</insert>
	
	
	<select id="selectNanumReplyList" parameterType="_int" resultMap="replyNanumResultSet">
		select *
		from reply r
			 join board b on(r.bno = b.bno)
		where r.bno = #{bNo}
		order by rNum desc
	</select>
	
	<resultMap id="replyNanumResultSet" type="Reply">
		<id property="rNum" column="RNUM"/>
  		<result property="nContent" column="NCONTENT"/>
  		<result property="bNo" column="BNO"/>
  		<result property="rWriter" column="RWRITER"/>
  		<result property="nCreate_Date" column="NCREATE_DATE"/>
  		<result property="status" column="R_STATUS"/>
	</resultMap>
		
	
		<insert id="insertNanumReply" parameterType="Reply">
		insert into Reply values(seq_rnum.nextval,  #{nContent}, sysdate, default, #{rWriter}, #{bNo})
	</insert>
	
	<select id="selectNanumOne" parameterType="_int" resultType="PictureBoard">
	select *
		from board b
		join board_picture a on(b.bno = a.bno)
        join member m on(m.userid = b.bwriter)
		where  b.bNo = #{ bNo } 
	</select>	
	
	<update id="updateNanumBoard" parameterType="Board">
		update board
		set BTYPE = #{bType}, BTITLE= #{bTitle},  BCONTENT= #{bContent},  STATUS= 'Y', B_MODIFYDATE = sysdate, BWRITER = #{bWriter}
		where bNo = #{bNo}
	</update>
	
<!-- 	<update id="updateNanumAttachment0" parameterType="Attachment">
		update board_picture
		set ORIGNNAME = #{originName}, CHANGENAME = #{changeName}, UPLOAD_DATE = sysdate, ITYPE = 0, STATUS = 'Y'
		where bNo = #{bNo} and iNo = #{iNo}
	</update>
	<update id="updateNanumAttachment" parameterType="Attachment">
		update board_picture
		set ORIGNNAME = #{originName}, CHANGENAME = #{changeName}, UPLOAD_DATE = sysdate, ITYPE = 1, STATUS = 'Y'
		where bNo = #{bNo} and iNo = #{iNo}
	</update> -->
	
	<update id="updateNanumAttachment" parameterType="Attachment">
			update board_picture
			set originname=#{originName}, CHANGENAME = #{changeName}, UPLOAD_DATE = sysdate, ITYPE = #{iType}, STATUS = 'Y'
			where bNo=#{bNo} and iNo=#{iNo}
	</update>
	
	<update id="deleteNanumBoard" parameterType="Board">
		update board
		set STATUS = 'N'
		where bNo = #{bNo}
	</update>
	
	<insert id="insertSubNanumAttachment" parameterType="Attachment">
			insert into board_picture
			values (seq_ino.nextval, #{bNo}, #{originName}, #{changeName}, 1, sysdate, 'Y')
	</insert>
	
	<!--  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!   -->
	
	<!-- 관리자 신고 top 5 -->
	<select id="mDectopList" resultType="Board">
		<![CDATA[
			select *
			from (select * 
				  from board
				  where status = 'Y' and bType = 7
				  order by B_CREATEDATE desc)
			where rownum < 6
		]]>
	</select>
	
	<!-- 관리자 문의사항 top 5 -->
	<select id="mQnatopList" resultType="Board">
		<![CDATA[
			select *
			from (select * 
				  from board
				  where status = 'Y' and bType = 5
				  order by B_CREATEDATE desc)
			where rownum < 6
		]]>
	</select>
	
	<!-- 관리자 공지사항 리스트 받아올때 페이징에 사용 -->
	<select id="getManaListCount" resultType="_int">
		select count(*)
		from board
		where bType = 6
	</select>
	
	<!-- 관리자 공지사항 리스트 -->
	<select id="selectNoticeList" resultType="Board">
		select b.bNo, b.bType, b.bTitle, b.bContent, b.B_CREATEDATE, b.bCount, m.nickName as bWriter
		from board b join member m on (b.bWriter = m.userId) 
     	where b.bType = 6 and b.status = 'Y'
     	order by b.b_CreateDate 
	</select>
	
	<!-- 관리자 공지사항 디테일 -->
	<select id="mNoticeDetail" resultType="Board" parameterType="_int">
		select b.bNo, b.bType, b.bTitle, m.nickName as bWriter, b.bContent, b.b_CreateDate, b.b_ModifyDate
		from board b
			 join member m on (b.bWriter = m.userId)
		where b.bNo = #{bNo}
	</select>
	
	<!-- 관리자 공지사항 수정 -->
	<update id="mNoticeUpdate" parameterType="Board">
		update Board
		set bTitle = #{ bTitle }, bContent = #{ bContent }, b_ModifyDate = sysdate
		where bNo = #{ bNo }
	</update>
	
	<!-- 관리자 공지사항 작성 -->
	<insert id="mNoticeInsert" parameterType="Board">
		insert into board
		values (seq_bno.nextval, 6, #{bTitle}, #{bContent}, sysdate, 0, 'Y', sysdate, #{bWriter})
	</insert>
	
	<!-- 관리자 공지사항 삭제 -->
	<update id="mNoticedelete" parameterType="_int">
		update board
		set status = 'N'
		where bNo = #{bNo}
	</update>
	
	<!-- 커뮤니티 메인페이지 커뮤니티 top5 -->
	
	<select id="comTopList" resultType="Board">
		<![CDATA[
			select *
			from (select b.bNo, b.bType, b.bTitle, b.bCount, m.nickName as bWriter, b.b_createDate
				  from board b join member m on (b.bWriter = m.userId)
				  where b.status = 'Y' and b.bType = 1
				  order by b.bCount desc)
			where rownum < 6
		]]>
	</select>
	<!-- 커뮤니티 메인페이지 나눔 top5 -->
	<select id="nanumTopList" resultType="Board">
		<![CDATA[
			select *
			from (select b.bNo, b.bType, b.bTitle, b.bCount, m.nickName as bWriter, b.b_createDate
				  from board b join member m on (b.bWriter = m.userId)
				  where b.status = 'Y' and b.bType = 2
				  order by b.bCount desc)
			where rownum < 6
		]]>
	</select>
</mapper>
