<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">


	<!-- 관리자 신고 승인 -->

	<update id="mDeBApply" parameterType="_int">
		update board
		set status = 'N'
		where bNo = #{ bNo }
	</update>


	<select id="getListNanumCount" resultType="_int">
		select count(*)
		from board
		where status = 'Y' and btype=2
	</select>
	
	<resultMap type="PictureBoard" id="PictureBoardResultSet">
		<id property="bNo" column="BNO"/>
		<result property="bType" column="BTYPE"/>
		<result property="bTitle" column="BTITLE"/>
		<result property="bContent" column="BCONTENT"/>
		<result property="b_CreateDate" column="B_CREATEDATE"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="status" column="STATUS"/>
		<result property="b_ModifyDate" column="B_MODIFYDATE"/>
		<result property="bWriter" column="NICKNAME"/>
		<result property="iNo" column="INO"/>
		<result property="originName" column="ORIGNNAME"/>
		<result property="changeName" column="CHANGENAME"/>
		<result property="iType" column="ITYPE"/>
		<result property="upload_Date" column="UPLOAD_DATE"/>
	</resultMap>
	
	<select id="selectNanumList" resultMap="PictureBoardResultSet">
		select *
		from board b
		    join board_picture a on(b.bno = a.bno)
		    join member m on(b.bwriter = m.userid)
		where b.status = 'Y' and btype=2 and itype=0
		order by b.bno desc
	</select>
	
	<insert id="insertNanumBoard" parameterType="Board">
		insert into board
		values(seq_bno.nextval, #{bType}, #{bTitle}, #{bContent}, sysdate, 0, 'Y', sysdate, #{bWriter})
	</insert>
	
	<insert id="insertNanumAttachment0" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 0, sysdate, 'Y')
	</insert>
	<insert id="insertNanumAttachment" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 1, sysdate, 'Y')
	</insert>
	
	
	<select id="selectNanumReplyList" parameterType="_int" resultMap="replyNanumResultSet">
		select *
		from reply r
			 join board b on(r.ref_bno = b.bno)
		where ref_bno = #{bNo}
		order by rNum desc
	</select>
	
	<resultMap id="replyNanumResultSet" type="Reply">
		<id property="rNum" column="RNUM"/>
  		<result property="nContent" column="NCONTENT"/>
  		<result property="bNo" column="BNO"/>
  		<result property="rWriter" column="RWRITER"/>
  		<result property="nCreate_Date" column="NCREATE_DATE"/>
  		<result property="status" column="R_STATUS"/>
	</resultMap>
		
	
		<insert id="insertNanumReply" parameterType="Reply">
		insert into Reply values(seq_rnum.nextval,  #{nContent}, #{bNo}, #{rWriter}, sysdate, default)
	</insert>
	

	<!-- 정보공유 리스트 -->
	<select id = "selectComList" resultType = "Board">
		select *
		from board
		where status = 'Y'
		order by bno desc
	</select>
	
	<select id="getListComCount" resultType="_int">
		select count(*)
		from board
		where status = 'Y'
	</select>
	
	<insert id="insertComBoard" parameterType="Board">
		insert into board
		values(seq_bno.nextval, #{bType}, #{bTitle}, #{bContent}, sysdate, 0, 'Y', sysdate, 'user01')
	</insert>
	
	<insert id="insertComAttachment0" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 0, sysdate, 'Y')
	</insert>
	<insert id="insertComAttachment" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, #{iType}, sysdate, 'Y')
	</insert>
	
	<insert id="insertComReply" parameterType="Reply">
		insert into Reply values(seq_rnum.nextval,  #{nContent}, #{bNo}, #{rWriter}, sysdate, default)
	</insert>

	
	<!-- 정보공유 디테일 -->
	<update id="updateCount1" parameterType="_int">
		update board
		set bcount = bcount + 1
		where bno = #{bNo} 
	</update>
	
	<!-- 정보공유 디테일-->
	<select id="selectOne1" parameterType="_int" resultType="Attachment">
		select *
		from board_picture
		where bno = #{bNo} and status = 'Y' and itype=0
	</select>
	
	<!-- 정보공유 디테일 사진 2번째거 -->
	
	<select id="selectPicOne1" parameterType="_int" resultType="Attachment">
		select *
		from board_picture
		where bno = #{bNo} and status = 'Y' and itype=1
	</select>
	<!-- 정보공유 디테일 사진 3번째거 -->
	<select id="selectPicOne2" parameterType="_int" resultType="Attachment">
		select *
		from board_picture
		where bno = #{bNo} and status = 'Y' and itype=2
	</select>
	<!-- 정보공유 디테일 사진 4번째거 -->
	<select id="selectPicOne3" parameterType="_int" resultType="Attachment">
		select *
		from board_picture
		where bno = #{bNo} and status = 'Y' and itype=3
	</select>
	
	<insert id="insertReply1" parameterType="Reply">
		insert into Reply values(seq_rnum.nextval,  #{nContent}, #{bNo}, #{rWriter}, sysdate, default)
	</insert>
	
	
	<!-- 문의사항 리스트 불러오기 -->
	<select id = "selectProList" resultType = "propose">
		select *
		from board b join propose p on b.bno = p.pno
		where b.status = 'Y' and btype=5
		order by p.pno desc 
	</select>
	
	<select id="getListProCount" resultType="_int">
		select count(*)
		from board
		where status = 'Y' 
	</select>

	<select id="selectOne2" parameterType="_int" resultType="board">
		select * 
		from board
		where bno = #{bNo} and status = 'Y' and btype=1
	</select>
	
	
	<!-- 리플 가져오기 -->
	
	<select id="userReplyList" parameterType="_int" resultType="Reply">
		select *
		from reply
		where bno = #{bNo} and status='Y'
	</select>
	<!-- 리플 등록 -->
	<insert id="insertReplyMH" parameterType="Reply">
		insert into Reply values(seq_rnum.nextval,  #{nContent}, sysdate, default, #{rWriter}, #{bNo})
	</insert>
	
	<!-- 정보공유 수정하기 -->
	<update id="updateComBoard" parameterType="Board">
		update board
		set btitle=#{bTitle}, bcontent=#{bContent} 
		where bNo=#{bNo} and btype=1
	</update>
	
	<!-- 정보공유 삭제하기 -->
	<update id="deleteComBoard" parameterType="_int">
		update board
		set status = 'N'
		where bNo = #{bNo} and btype=1
	</update>
	
	<!-- 문의사항 글쓰기 -->
	<insert id="insertProBoard" parameterType="Board">
		insert into board
		values(seq_bno.nextval, #{bType}, #{bTitle}, #{bContent}, sysdate, 0, 'Y', sysdate, 'user01')
	</insert>
	<insert id="insertProAttachment0" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 0, sysdate, 'Y')
	</insert>
	<insert id="insertProAttachment" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 1, sysdate, 'Y')
	</insert>
	
		<!-- 정보공유 수정하기(사진)1-->
	<select id="selectupPOne1" parameterType="_int" resultType="Attachment">
		select *
		from board_picture
		where bno = #{bNo} and status = 'Y' and itype=0
	</select>
		<!-- 정보공유 수정하기(사진)2-->
	<select id="selectupPOne2" parameterType="_int" resultType="Attachment">
		select *
		from board_picture
		where bno = #{bNo} and status = 'Y' and itype=1
	</select>
		<!-- 정보공유 수정하기(사진)3-->
	<select id="selectupPOne3" parameterType="_int" resultType="Attachment">
		select *
		from board_picture
		where bno = #{bNo} and status = 'Y' and itype=2
	</select>
		<!-- 정보공유 수정하기(사진)4-->
	<select id="selectupPOne4" parameterType="_int" resultType="Attachment">
		select *
		from board_picture
		where bno = #{bNo} and status = 'Y' and itype=3
	</select>
	
	
</mapper>
