<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">


	<!-- 관리자 신고 승인 -->

	<update id="mDeBApply" parameterType="_int">
		update board
		set status = 'N'
		where bNo = #{ bNo }
	</update>


	<select id="getListNanumCount" resultType="_int">
		select count(*)
		from board
		where status = 'Y' and btype=2
	</select>
	
	<resultMap type="PictureBoard" id="PictureBoardResultSet">
		<id property="bNo" column="BNO"/>
		<result property="bType" column="BTYPE"/>
		<result property="bTitle" column="BTITLE"/>
		<result property="bContent" column="BCONTENT"/>
		<result property="b_CreateDate" column="B_CREATEDATE"/>
		<result property="bCount" column="BCOUNT"/>
		<result property="status" column="STATUS"/>
		<result property="b_ModifyDate" column="B_MODIFYDATE"/>
		<result property="bWriter" column="NICKNAME"/>
		<result property="iNo" column="INO"/>
		<result property="originName" column="ORIGINNAME"/>
		<result property="changeName" column="CHANGENAME"/>
		<result property="iType" column="ITYPE"/>
		<result property="upload_Date" column="UPLOAD_DATE"/>
	</resultMap>
	
	<select id="selectNanumList" resultMap="PictureBoardResultSet">
		select *
		from board b
		    join board_picture a on(b.bno = a.bno)
		    join member m on(b.bwriter = m.userid)
		where b.status = 'Y' and btype=2 and itype=0
		order by b.bno desc
	</select>
<!-- listview 에서 detail 뷰로 넘길때 쿼리문 보드픽쳐 이미지 추가 -->
	<insert id="insertNanumBoard" parameterType="Board">
		insert into board
		values(seq_bno.nextval, #{bType}, #{bTitle}, #{bContent}, sysdate, 0, 'Y', sysdate, #{bWriter})
	</insert>
	
	<insert id="insertNanumAttachment0" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 0, sysdate, 'Y')
	</insert>
	<insert id="insertNanumAttachment" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 1, sysdate, 'Y')
	</insert>
	
	
	<select id="selectNanumReplyList" parameterType="_int" resultMap="replyNanumResultSet">
		select *
		from reply r
			 join board b on(r.bno = b.bno)
		where r.bno = #{bNo}
		order by rNum desc
	</select>
	
	<resultMap id="replyNanumResultSet" type="Reply">
		<id property="rNum" column="RNUM"/>
  		<result property="nContent" column="NCONTENT"/>
  		<result property="bNo" column="BNO"/>
  		<result property="rWriter" column="RWRITER"/>
  		<result property="nCreate_Date" column="NCREATE_DATE"/>
  		<result property="status" column="R_STATUS"/>
	</resultMap>
		
	
		<insert id="insertNanumReply" parameterType="Reply">
		insert into Reply values(seq_rnum.nextval,  #{nContent}, sysdate, default, #{rWriter}, #{bNo})
	</insert>
	

	<select id="selectNanumOne" parameterType="_int" resultType="PictureBoard">
	select *
		from board b
		join board_picture a on(b.bno = a.bno)
        join member m on(m.userid = b.bwriter)
		where  b.bNo = #{ bNo } 
	</select>	
	
	<update id="updateNanumBoard" parameterType="Board">
		update board
		set BTYPE = #{bType}, BTITLE= #{bTitle},  BCONTENT= #{bContent},  STATUS= 'Y', B_MODIFYDATE = sysdate, BWRITER = #{bWriter}
		where bNo = #{bNo}
	</update>
	
<!-- 	<update id="updateNanumAttachment0" parameterType="Attachment">
		update board_picture
		set ORIGNNAME = #{originName}, CHANGENAME = #{changeName}, UPLOAD_DATE = sysdate, ITYPE = 0, STATUS = 'Y'
		where bNo = #{bNo} and iNo = #{iNo}
	</update>
	<update id="updateNanumAttachment" parameterType="Attachment">
		update board_picture
		set ORIGNNAME = #{originName}, CHANGENAME = #{changeName}, UPLOAD_DATE = sysdate, ITYPE = 1, STATUS = 'Y'
		where bNo = #{bNo} and iNo = #{iNo}
	</update> -->
	
	<update id="updateNanumAttachment" parameterType="Attachment">
			update board_picture
			set originname=#{originName}, CHANGENAME = #{changeName}, UPLOAD_DATE = sysdate, ITYPE = #{iType}, STATUS = 'Y'
			where bNo=#{bNo} and iNo=#{iNo}
	</update>
	
	<update id="deleteNanumBoard" parameterType="Board">
		update board
		set STATUS = 'N'
		where bNo = #{bNo}
	</update>
	
	<insert id="insertSubNanumAttachment" parameterType="Attachment">
			insert into board_picture
			values (seq_ino.nextval, #{bNo}, #{originName}, #{changeName}, 1, sysdate, 'Y')


	<!-- 정보공유 리스트 -->
	<select id = "selectComList" resultType = "Board">
		select *
		from board
		where status = 'Y'
		order by bno desc
	</select>
	
	<select id="getListComCount" resultType="_int">
		select count(*)
		from board
		where status = 'Y'
	</select>
	
	<insert id="insertComBoard" parameterType="Board">
		insert into board
		values(seq_bno.nextval, #{bType}, #{bTitle}, #{bContent}, sysdate, 0, 'Y', sysdate, 'user01')
	</insert>
	
	<insert id="insertComAttachment0" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 0, sysdate, 'Y')
	</insert>
	<insert id="insertComAttachment" parameterType="Attachment">
		insert into board_picture
		values (seq_ino.nextval, seq_bno.currval, #{originName}, #{changeName}, 1, sysdate, 'Y')
	</insert>
	
	<insert id="insertComReply" parameterType="Reply">
		insert into Reply values(seq_rnum.nextval,  #{nContent}, #{bNo}, #{rWriter}, sysdate, default)
	</insert>

	
	<!-- 정보공유 디테일 -->
	<update id="updateCount1" parameterType="_int">
		update board
		set bcount = bcount + 1
		where bno = #{bNo}
	</update>
	
	<!-- 정보공유 디테일-->
	<select id="selectOne1" parameterType="_int" resultType="Attachment">
		select *
		from board_picture <!-- b join board_picture p on b.bno = p.bno -->
		where bno = #{bNo} and status = 'Y'
	</select>
	
	<insert id="insertReply1" parameterType="Reply">
		insert into Reply values(seq_rnum.nextval,  #{nContent}, #{bNo}, #{rWriter}, sysdate, default)
	</insert>
	
	
	<!-- 문의사항 리스트 불러오기 -->
	<select id = "selectProList" resultType = "propose">
		select *
		from board b join propose p on b.bno = p.pno
		where b.status = 'Y'
		order by p.pno desc
	</select>
	
	<select id="getListProCount" resultType="_int">
		select count(*)
		from board
		where status = 'Y'
	</select>

	<select id="selectOne2" parameterType="_int" resultType="board">
		select * 
		from board
		where bno = #{bNo} and status = 'Y'
	</select>
	
	
	<!-- 리플 가져오기 -->
	
	<select id="userReplyList" parameterType="_int" resultType="Reply">
		select *
		from reply
		where bno = #{bNo} and status='Y'
	</select>
	<!-- 리플 등록 -->
	<insert id="insertReplyMH" parameterType="Reply">
		insert into Reply values(seq_rnum.nextval,  #{nContent}, sysdate, default, #{rWriter}, #{bNo})

	</insert>
	
</mapper>
