<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="noteMapper">
	
	<select id="SendNoteListCount" resultType = "_int">
		select count(*)
		from note
		where status = 'Y' and send = #{user}
	</select>
	
	<select id="ResponNoteListCount" resultType = "_int">
		select count(*)
		from note
		where status = 'Y' and respon = #{user}
	</select>

	<select id = "selectSendNoteList" resultType = "Note">
		select *
		from note
		where status = 'Y' and send = #{user}
	</select>
	
	<select id = "selectResponNoteList" resultType = "Note">
		select *
		from note
		where status = 'Y' and respon = #{user}
	</select>
	
	<insert id="insertNote">
		insert into note
		values(seq_nno.nextval, #{nTitle}, #{nContent}, #{send}, #{respon}, default, default, sysdate)
	</insert>
	
	<update id="updateRead">
		update note
		set read = 'Y'
		where nno = #{nNo}
	</update>
	
	<select id="detailNote" resultType="Note">
		select *
		from note
		where nno = #{nNo}
	</select>
	
	<select id = "selectNote" resultType = "Member">
		select *
		from member
		where nickname = #{writer}
	</select>
	
</mapper>
